<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <pre>
  {
  "issuer": "<a href="<%= host %>"><%= host %></a>",
  "federations_endpoint":  "<a href="<%= host %>/federations" target="_self"><%= host %>/federations</a>",
  "federation_entity_endpoint":  "<a href="<%= host %>/federation_entity"><%= host %>/federation_entity</a>",
  "organizations_endpoint":  "<a href="<%= host %>/org"><%= host %>/org</a>",
  "schema_endpoint":  "<a href="<%= host %>/schema"><%= host %>/schema</a>",
  }
</pre>
</body>

</html>
